html{
    height: 100%;
    background-color: #0C89FC;
}

.content-block{
    padding: 0;
    margin: 0;
}

.share-top img{
    width: 100%;
}

.content{
  /*  height: 100%;
    background-color: #208afc;*/
}   

#imgSwiper{
    width: 100%;
}
.img-stage{
    perspective: 700px;
    position: absolute;
    left: -webkit-calc(50% - 2.35rem);  
    left: -moz-calc(50% - 2.35rem);  
    left: calc(50% - 2.35rem);  
}
#imgSwiper{
    margin-top: -3rem;
}

.r-item{
    width: 5rem;
    height: 5rem;
    position:absolute; 
    transition:all 1s ease;
    -moz-transition: all 1s ease; /* Firefox 4 */
    -webkit-transition: all 1s ease; /* Safari 和 Chrome */
    -o-transition:all 1s ease; /* Opera */
} 